# ============================================
# Python
# ============================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Type checkers and testing
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# ============================================
# IDEs and Editors
# ============================================

# VSCode
**/.vscode/

# PyCharm / IntelliJ
.idea/

# ============================================
# Platform Specific
# ============================================

# macOS
**/.DS_Store

# Windows
Thumbs.db
*.lnk

# ============================================
# Project Specific
# ============================================

# PlatformIO
.pio/

# Microsoft Visio temporary files
*.~vsdx

# Config files
.config/

source_mcu/.pio
source_mcu/.vscode
source_mcu/logs/